<div class="wrapper-grey">
  <div class="container">
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
       <%= simple_form_for @campaign, url: dashboard_campaigns_path, method: :post do |f| %>
        <%= f.error_notification %>
        <div data-toggle="tooltip" data-placement="left" title="Think hard about this one, it's for everyone to see!">
          <%= f.input :title, label: "Your campaign's title" %>
        </div>
        <div data-toggle="tooltip" data-placement="right" title="The batch size you choose should be determined by the product's type and your reputation.">
          <%= f.input :batch_size, collection: [150, 250, 300] %>
        </div>
        <div data-toggle="tooltip" data-placement="left" title="How long do you want your campaign to last?">
          <%= f.input :duration, label: 'Number of days', collection: [10, 20, 30] %>
        </div>
        <div data-toggle="tooltip" data-placement="right" title="The more precise the better! This is what will help get people (and us) hooked.">
          <%= f.input :description, label: "Give the best description you can" %>
        </div>
        <div data-toggle="tooltip" data-placement="left" title="Give as much information about your product as you can, it will help us understand exactly what you're hoping to achieve.">
          <%= f.input :spec, label: "Product specs", placeholder: "ex: coton: 20%, wool: 80%, ..." %>
        </div>

        <div data-toggle="tooltip" data-placement="right" title="Please give an estimation of your product's price.">
          <%= f.input :price %>
        </div>

        <%= f.simple_fields_for :cat do |c| %>
          <%= c.input :category, collection: @categories.pluck(:name) %>
        <% end %>
        <%= f.input :gender, label: "Gender", collection: ["Men", "Women", "Both"] %>
        <div data-toggle="tooltip" data-placement="left" title="Upload up to 4 photos of your product (quick tip : the more the merrier!)">
          <%= f.input :photos, as: :attachinary %>
        </div>
         <div class="text-center">
           <%= f.button :submit, class: "btn btn-default" %>
         </div>
         <% end %>
       </div>
    </div>
  </div>
</div>
