<div class="container">
  <h2><%= @campaign.title.upcase %></h2>
  <p> <strong> Batch size : </strong> <%= @campaign.batch_size %></p>
  <p> <strong> From : </strong> <%= @campaign.date_start %></p>
  <p> <strong> To :  </strong> <%= @campaign.date_end %></p>
  <br>
  <p> <strong> Description : </strong> <%= @campaign.description %></p>
  <p> <strong> Specs : </strong> <%= @campaign.spec %></p>
  <p> <strong> Price : </strong> <%= @campaign.price %> $ </p>
  <p> <strong> Category : </strong> <%= @campaign.category %></p>
  <p> <strong> For : </strong> <%= @campaign.gender %></p>
  <% if @campaign.photo? %>
    <%= cl_image_tag @campaign.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>

  <%= link_to "See all my campaigns", dashboard_campaigns_path(@campaign), {class: "btn btn-primary"} %>

  <%= simple_form_for [@campaign, @order], url: dashboard_campaign_orders_path(@campaign), method: :post do |f| %>
     <%= f.error_notification %>
     <%= f.input :item_size, collection: ["XS", "S", "M", "L", "XL"] %>
     <%= f.input :number_of_items %>
     <%= f.input :delivery_address %>
     <%= f.button :submit, class: "btn btn-primary", value: "Buy this product" %>
     <% end %>

</div>
