<h1>Purchase of a campaign <%= @order.campaign_sku %></h1>
<%= form_tag dashboard_order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.campaign.price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Order"
    data-description="Order <%= @order.campaign_sku %>"
    data-amount="<%= @order.campaign.price_cents %>"
    data-currency="EUR">
  </script>
<% end %>
