<div class="col-md-4">

      <div class="cards-products card-link">
        <% if campaign.photos? %>
          <div class="top" style="background-image: url(<%= cl_image_path campaign.photos.last.path, crop: :fill, height: 140, width: 263 %>)"></div>
        <% else %>
          <div class="top" style="background-image: url(<%= image_url('home/fashion-design-illustration-lady-in-black-dress.jpg') %>)"></div>
        <% end %>
        <h3><%= campaign.title.upcase %></h3>
        <div class="progress" style="height: 10px;">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: <%= campaign.items_sold * 100 / campaign.batch_size %>%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
        <% if campaign.live? %>
          <p class="fixed-days"> Days left : <%= campaign.days_left %></p>
        <% else %>
          <p class="fixed-days"> Campaign : <%= campaign.status_public %></p>
        <% end %>


        <% if campaign.user == current_user %>
          <%= link_to "", dashboard_campaign_path(campaign) %>
        <% else %>
          <%= link_to "", campaign_path(campaign) %>
        <% end %>
      </div>

</div>
