<div class="profile-background", style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.8) 60%), url('https://static.pexels.com/photos/92961/pexels-photo-92961.jpeg'); ">

  <div class="profile-picture">
    <% if current_user.facebook_picture_url %>
    <%= image_tag current_user.facebook_picture_url  %>
    <% else %>
      <% if @user.photo %>
        <%= cl_image_tag @user.photo.path, transformation: [ width: 300, height: 300 ] %>
      <% else %>
        <%= image_tag('avatar.png') %>
      <% end %>
    <% end %>
  </div>

  <div class="profile-text">
    <div class="profile-name">
      <%= @user.first_name + " " + @user.last_name.upcase %>
    </div>
    <div class="profile-description">
      <%= @user.description %>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text">
  <div class="container">
    <div>
      <p>DESCRIPTION</p>
      <%= link_to "edit", edit_user_registration_path(@user) %>
      <%= @user.description %>
    </div>
    <hr>
    <p>Current campaigns</p>
      <%= link_to "view all campaigns", dashboard_campaigns_path(@user) %>
      <% @campaigns.active.each do |campaign| %>
        <div>
          <hr>
          <%= campaign.photos %>
          <%= campaign.title %> /
          <%= campaign.batch_size %> /
          <%= campaign.date_end %> /
          <%= campaign.price %> €
        </div>
      <% end %>
    <hr>


  <p>My orders</p>
  <!-- past campaigns à refaire -->
  <%= link_to "view all campaigns", dashboard_campaigns_path(@user) %>
  <% @past_campaigns.each do |campaign| %>
    <div>
      <hr>
      <%= campaign.photo %>
      <%= campaign.title %> /
      <%= campaign.batch_size %> /
      <%= campaign.date_end %> /
      <%= campaign.price %> €
      <hr>
      <div>
      <p>FOLLOW ME</p>
    </div>
      <div>
      <p>Social links</p>
    </div>
  </div>
  <% end %>
</div>
