<div>
  <%= @user.first_name + " " + @user.last_name %>
</div>

<div>
  <p>FOLLOW ME</p>
</div>

<div>
  <p>Social links</p>
</div>

<div>
  <p>DESCRIPTION</p>
</div>

<p>Current campaigns</p>
<% @current_campaigns.each do |campaign| %>
  <div>
    <hr>
    <%= campaign.photo %>
    <%= campaign.title %> /
    <%= campaign.batch_size %> /
    <%= campaign.date_end %> /
    <%= campaign.price %> €
  </div>
<% end %>

<hr>

<p>Past campaigns</p>
<% @past_campaigns.each do |campaign| %>
  <div>
    <hr>
    <%= campaign.photo %>
    <%= campaign.title %> /
    <%= campaign.batch_size %> /
    <%= campaign.date_end %> /
    <%= campaign.price %> €
  </div>
<% end %>
