<div class="profile-background">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card profile-card">
          <div class="edit-link">
            <% if @user == current_user %>
              <%= link_to edit_user_registration_path(@user) do %>
                <i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></i>
              <% end %>
            <% end %>
          </div>
          <div class="orders-link">
             <% if @user == current_user %>
              <%= link_to dashboard_orders_path(@user) do %>
                <i class="fa fa-shopping-bag" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="My orders"></i>
              <% end %>
            <% end %>
          </div>
          <div class="profile-picture center-block">
            <% if current_user.facebook_picture_url %>
            <%= image_tag current_user.facebook_picture_url  %>
            <% else %>
              <% if @user.photo %>
                <%= cl_image_tag @user.photo.path, transformation: [ width: 300, height: 300 ] %>
              <% else %>
                <%= image_tag('avatar.png') %>
              <% end %>
            <% end %>
          </div>
            <div class="profile-name text-center">
                <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>
            </div>
            <a href="#" data-toggle="modal" data-target="#myModal">
              <div id="follow-stats">
                <%= render "followings/stats", user: @user %>
              </div>
            </a>
            <div class="profile-description text-center">
              <p> "<%= @user.description %>" </p>
            </div>

            <div class="share-links">
              <a href="#" class="share-link bg-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="share-link bg-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="share-link bg-email">
                <i class="fa fa-envelope-o"></i>
              </a>
              <a href="#" class="share-link bg-text">
                <i class="fa fa-mobile"></i>
              </a>
            </div>
            <div id="follow-action">
              <%= render "followings/follow", user: @user %>
            </div>
            <% if @user == current_user %>
              <div>
              <%= link_to dashboard_campaigns_path(@user) do %>
                <button type="button" class="btn btn-lg text-center btn-view-all">My campaigns</button>
                <% end %>
                </div>
            <% end %>
          </div>
        </div>

      <div class="card current-card col-md-9">
        <div class="row row-current-fix">
          <div class="col-md-12">
            <p>CURRENT CAMPAIGNS</p>
          </div>
        </div>

        <div class="row">
          <div id="carousel-current-campaigns" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <% i = 1 %>
              <% @campaigns.select { |c| c.active? || c.in_production? }.each_slice(3) do |three_campaigns| %>
                <!-- Wrapper for slides -->
                <div class="item <%= 'active' if i == 1 %>">
                  <% three_campaigns.each do |campaign| %>
                    <%= render partial: "smallcards", locals: {campaign: campaign} %>
                  <% end %>
                </div>
                <% i += 1 %>
              <% end %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-current-campaigns" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-current-campaigns" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="row row-past-fix">
          <div class="col-md-12">
            <p>PAST CAMPAIGNS</p>
          </div>
        </div>
        <div class="row">
          <div id="carousel-past-campaigns" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <% j = 1 %>
              <% @campaigns.select { |c| c.successful? || c.failed? }.each_slice(3) do |three_campaigns| %>
                <!-- Wrapper for slides -->
                <div class="item <%= 'active' if j == 1 %>">
                  <% three_campaigns.each do |campaign| %>
                    <%= render partial: "smallcards", locals: {campaign: campaign} %>
                  <% end %>
                </div>
                <% j += 1 %>
              <% end %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-past-campaigns" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-past-campaigns" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="tabbable">
                  <ul class="nav nav-tabs">
                    <li class="active tab-followings"><a href="#tab1" data-toggle="tab">Followers</a></li>
                    <li class="tab-followings"><a href="#tab2" data-toggle="tab">Following</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <br>
                      <ol>
                        <% @followers.each do |followed| %>
                          <li>
                            <%= followed.follower.first_name %>
                            <%= followed.follower.last_name %>
                          </li>
                          <br>
                        <% end %>
                      </ol>
                    </div>
                    <div class="tab-pane" id="tab2">
                      <br>
                      <ol>
                        <% @designers.each do |following| %>
                          <li>
                            <%= following.designer.first_name %>
                            <%= following.designer.last_name %>
                          </li>
                          <br>
                        <% end %>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
