<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="text-center row show-title">
        <h2><%= @campaign.title.upcase %></h2>
      </div>
    </div>
    <div class="row">
      <div class="text-center row show-name">
      <%= link_to user_path(@campaign.user) do %>
        <p>By <strong><%= @campaign.user.first_name %> <%= @campaign.user.last_name %></strong></p>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-2">
        <% if @campaign.photos.count > 1 %>
          <div class="show-image">
            <div id="carousel-example-generic" class="carousel carousel-framed slide" data-ride="carousel">
              <!-- Wrapper for slides -->

              <div class="carousel-inner" role="listbox">
                <% @campaign.photos.each do |photo| %>
                  <div class="item <%= "active" if photo == @campaign.photos.first %>">
                    <%= cl_image_tag photo.path, crop: :fill %>
                  </div>
                <% end %>
              </div>
              <!-- Controls -->
              <a class="carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        <% else %>
          <div class="show-image">
            <% @campaign.photos.each do |photo| %>
              <%= cl_image_tag photo.path, crop: :fill %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-4 show-info">
        <h3><%= @campaign.items_sold %>  / <%= @campaign.batch_size %> </h3>
        <p> item(s) sold </p>
        <% if @campaign.active? %>
          <h3><%= humanized_money_with_symbol(@active_price) %> <span>( - <%= (1 - (@active_price / @campaign.price)) * 100 %>% )</span></h3>
        <% elsif @campaign.in_production? %>
          <h3><%= humanized_money_with_symbol(@production_price) %> <span>( - <%= (1 - (@production_price / @campaign.price)) * 100 %>% )</span></h3>
        <% else %>
          <h3> - </h3>
        <% end %>
        <p>retail price <%= humanized_money_with_symbol(@campaign.price) %></p>

        <% if @campaign.active? || @campaign.in_production? %>
          <h3><%= @campaign.days_left %></h3>
          <p>days left</p>
            <% if @campaign.days_left <= 5 %>
              <h2> Hurry Up !</h2>
            <% end %>
        <% else %>
          <p> Campaign : <%= @campaign.status_public || @campaign.status_private %></p>
        <% end %>

      </div>
    </div>
    <div class="row show-specs">
      <div class="col-lg-6 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-3">
            <p><i class="fa fa-tags" aria-hidden="true"></i> <%= @campaign.category.name %></p>
          </div>
          <div class="col-lg-3">
            <p><i class="fa fa-venus-mars" aria-hidden="true"></i> <%= @campaign.gender %></p>
          </div>
        </div>
        <br>
        <p> <strong> Specs </strong> </p>
        <p><%= @campaign.spec %></p>
        <br>
        <p> <strong> Description </strong> </p>
        <p><%= @campaign.description %></p>
      </div>
      <div class="col-lg-4">
        <% if @campaign.user == current_user %>
          <% if @campaign.pending? %>
            <p>Campaign is still being reviewed!</p>
          <% else %>
            <% if @campaign.active? || @campaign.in_production? %>
              <div class="col-lg-6 col-lg-offset-3">
                <%= link_to "Update my campaign", edit_dashboard_campaign_path(@campaign), {class: "btn btn-default"} %>
              </div>
            <% else %>
              <p class="text-center">Can't update.</p>
            <% end %>
          <% end %>
        <% else %>
          <% if @campaign.active? || @campaign.in_production? %>
            <% if @order.id && @order.state == 'paid' %>
              <div class="col-lg-6 col-lg-offset-3">
                <%= link_to "Cancel my order", dashboard_order_path(@order), class: "btn btn-default", method: :delete, "data-confirm" => "Are you sure?" %>
              </div>
            <% else %>
              <%= link_to 'Buy', new_dashboard_campaign_order_path(@campaign), class: "btn btn-default" %>
            <% end %>
          <% else %>
            <h2 class="text-center">Campaign is over!</h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
