

<div class="container">
  <div class="row">
    <% @campaigns.each do |campaign| %>
    <% if campaign.active? || campaign.in_production? %>
      <h2><%= campaign.title.upcase %></h2>
      <% if campaign.photo? %>
        <%= cl_image_tag campaign.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <%= campaign.user.first_name %>
      <%= campaign.user.last_name %>
      <p> <strong> Batch size : </strong> <%= campaign.batch_size %></p>
      <p> <strong> From : </strong> <%= campaign.date_start %></p>
      <p> <strong> To :  </strong> <%= campaign.date_end %></p>
      <br>
      <p> <strong> Description : </strong> <%= campaign.description %></p>
      <p> <strong> Specs : </strong> <%= campaign.spec %></p>
      <p> <strong> Price : </strong> <%= campaign.price %> $ </p>
      <p> <strong> Category : </strong> <%= campaign.category %></p>
      <p> <strong> For : </strong> <%= campaign.gender %></p>


      <%= link_to "Details", campaign_path(campaign), {class: "btn btn-primary"} %>
      <br>
      <hr>
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>


