


<div class="container">
  <h2 style="font-weight: lighter;"><%= pluralize(@category.campaigns.count, @category.name).upcase %></h2>
  <% @campaigns.each do |campaign| %>
    <div class="col-lg-4">
      <div class="cards-vertical">
        <div class="row">
          <div class="col-lg-12">
            <div class="top">
              <% if campaign.photos? %>
                <%= cl_image_tag campaign.photos.last.path, width: 200, height: 300, crop: :fill %>
              <% else %>
                <%= image_tag 'home/fashion-design-illustration-lady-in-black-dress.jpg', alt:'' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="bottom">
              <div class="row">
                <div class="col-lg-6">
                  <h3><%= campaign.title %></h3>
                </div>
                <div class="col-lg-6 left">
                  <h3><%= campaign.user.first_name%> <%= campaign.user.last_name%></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <p> <%= humanized_money_with_symbol(campaign.price) %></p>
                </div>
                <div class="col-lg-offset-6 col-lg-3 left">
                  <p> <%= campaign.items_sold %> / <%= campaign.batch_size %></p>
                </div>
              </div>
              <div class="row">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: <%= campaign.items_sold * 100 / campaign.batch_size %>%">
                  <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
               </div>
              <p> <strong> Days left : </strong> <%= campaign.days_left %></p>
              <% if campaign.user == current_user %>
                <%= link_to "Details", dashboard_campaign_path(campaign), {class: "button"} %>
              <% else %>
                <%= link_to "Details", campaign_path(campaign), {class: "button"} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



